.navbar{
    background-color: rgb(4, 4, 48);
    box-shadow: rgba(61, 61, 81, 0.1) 0px 1px 0px;
    padding: 20px;
    font-size: 15px;
    
}
.navbar a {
    color:white !important;
}
.btn-hero{
  background-color: #052427 !important;  
  border: none;
  color: white;
}