
.button-style-2{
     background: gold;
     border: none;
     color: #fffffe;
     background-color: rgb(10, 21, 6);
     border: 2px solid #055258; 
     border-radius: 40px 10px;  
     width: 150px;
     height: 50px;
}

.top-banner{
     background-image: url('../../../images/banner-2.jpg');
     width: 100%;
     min-height: 600px;
     background-repeat: no-repeat;
     background-size: cover;
 }
 .top-banner-contenar{
     position: absolute;
     width: 100%;
     min-height: 600px;
     background: rgba(9, 27, 166, 0.4);
 
 }
 .banner-contenar{
     color: #fff;
     text-align: center;
     margin-top: 200px;
 }
 .banner-contenar h2{
     font-size: 60px;
 }